
body {
    font-family: 'Arial', sans-serif;
    background-color: #282c34;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 20px;
  }
  
  .container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .section {
    margin-bottom: 40px;
  }
  
  .circle {
    margin: 10px auto;
    width: 140px;
    height: 140px;
    border: 5px solid #00d8ff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .circle span {
    font-size: 1.5rem;
    color: #00d8ff;
  }
  
  button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #00d8ff;
    color: #282c34;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #007bff;
  }
  
  input {
    padding: 10px;
    font-size: 1rem;
    margin-top: 10px;
    border-radius: 5px;
    border: 2px solid #00d8ff;
    color: #282c34;
  }
  
  ul#laps {
    list-style: none;
    padding: 0;
  }
  
  ul#laps li {
    background: #333;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    color: #00d8ff;
  }
  